body{
    font-family: 'Saira Condensed', sans-serif;
    width: 0 auto;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
header{
    width: 100%;
    text-align: center;
}
.Titulo-principal{
    font-size: 3em;
}

.contenedor{
    position: relative;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.contenedorLetras{
    display: flex;
    padding-bottom: 0.5em;
    justify-content: center;
    background-color: red;
}
.contenedorErrores{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: blue;
}
.contenedorErrores span{
    font-size: 2em;
    letter-spacing: 1em;
}
.tablero{
    width: 100%;
    height: 80%;
    max-width: 1200;
    max-height: 800;
    background-color: aquamarine;
}

.letra, .letra:focus{   
    width: 1em;
    height: 30px;
    border-style: none none solid none;
    border-bottom:2px solid blue;
    background: none;
    font-size: 25px;
    text-align: center;
    margin-right: 1em;
}

.ocultar{
    display: none;
}
.contenedorBtnsInicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.btn-inicio{
    width: 40vw;
    height: 20vh;
    margin-bottom: 20vh;
    border-radius: 20px;
    background-color:cornsilk;
    font-size: 1.5em;
    font-weight: bold;
}
.contenido{
    width: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tableroCompleto{
    width: 0 auto;
}
.ganasPierdes{
    position: absolute;
    font-size: 2em;
    margin-bottom: 4em;
}

.btn-reinicio{
    position:  absolute;
    flex: auto;
    height: 2em;
    font-size: 1.5em;
    border-radius: 10px;
    background-color: blueviolet;

}
.btn-agregar-index{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em auto;
    border: none solid 2px;
    background-color: greenyellow;
}
#nuevaPalabra{
    width: 40vw;
    height: 10vh;
    border-radius: 20px;
    font-size: 1em;
}
.deshabilitarContenido{
    pointer-events: none;
    opacity: 0.3;
}
.input-dispositivo{
    display: none;
}

@media screen and (max-width:480px){
    .input-dispositivo{
        display: flex;
        margin: 0 auto;
        width: 1em;
        border: 4px solid seagreen;
        background:content-box;
    }
}