body{
    font-family: 'Saira Condensed', sans-serif;
    width: 0 auto;
}
header{
    width: 100%;
    text-align: center;
    
}
.Titulo-principal{
    font-size: 3em;
}
.contenedor{
    position: relative;
    margin:0 auto;
}
.tablero{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}
.contenedor > textarea{
    position:absolute;
}
#letra, #letra:focus{
    resize: none;
    top: 75%;
    left:30%;
    width: 30px;
    height: 30px;
    border-style: none none solid none;
    border-bottom:2px solid blue;
    background: none;
    font-size: 25px;
    outline: none;
    text-align: center;
}
.ocultar{
    display: none;
}
